/* Media Queries */
/* Mobile */
@media (max-width: 739px) {
    #header {
        overflow: hidden;
    }
    #header .search-btn {
        display: none;
    }
    #header .menu-btn {
        color: #fff;
        float: right;
        padding: 14px 23px;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
    }
    #header .menu-btn:hover {
        background-color: #ccc;
        color: #000;
    }
    #nav {
        display: block;
        
    }
    #nav .subnav {
        position: initial;
        background-color: #333;
    }
    .subnav li a {
        color: #fff;
        padding: 10px 41px;
    }
    #nav>li {
        display: block;
    }
    #nav>li:hover {
        background-color: #ccc;
        cursor: pointer;
    }
    #nav>li:first-child {
        display: inline-block;
    }
    #content .section-heading {
        margin-bottom: 30px;
    }
    #content .member-item {
        width: 100%;
        margin-bottom: 30px;
    }
    #content .name {
        margin-top: 10px;
    }
    .member-item .img-avatar img {
        width: 60%;
    }
    .tour {
        margin-top: 63px;
    }
    #contact .s-col-full,
    #tour .s-col-full {
        width: 100%;
    }
    .col .s-mt-16 {
        margin-top: 16px;
    }
    .col .s-mt-8 {
        margin-top: 8px;
    }
}